.cuerpo
{
    background-color: antiquewhite;
}
.fila
{
    border:10pxpx solid white;
}
.columna
{
    border: 5px solid white;
    height: 100px;
    background-color: yellow;
}
.f
{
    height: 100px;
    background-color: yellow;
    border: 5px solid white;
}
.ar
{
    height: 400px;
    background-color: yellow;
    border: 5px solid white;
}
.nav
{
    border: 5px solid white;
    height: 500px;
    background-color: yellow;
    grid-area: 1 / 1 / span 3 / span 2;
}
.ad
{
    height: 400px;
    background-color: yellow;
    border: 5px solid white;
    grid-area: 1 / 1 / span 3 / span 2;z
}